#### Input
[General]
input_fofn=./input.fofn
input_type=raw
pa_fasta_filter_option=streamed-median
target=assembly
skip_checks=False
LA4Falcon_preload=false

#### Data Partitioning
pa_DBsplit_option=-x500 -s400
ovlp_DBsplit_option=-s400

#### Repeat Masking
#no-op repmask param set
pa_REPmask_code=0,300;0,300;0,300

####Pre-assembly
# adjust to your genome size
genome_size = 2800000000
seed_coverage = 40
length_cutoff = -1
pa_HPCdaligner_option=-v -B128 -M24
pa_daligner_option= -k18 -e0.80 -l1000 -h256 -w8 -s100
falcon_sense_option=--output-multi --min-idt 0.70 --min-cov 4 --max-n-read 200
falcon_sense_greedy=False

####Pread overlapping
ovlp_HPCdaligner_option=-v -B128 -M24
ovlp_daligner_option= -k24 -e.92 -l1800 -h1024 -s100

####Final Assembly
length_cutoff_pr=10000
overlap_filtering_setting=--max-diff 100 --max-cov 100 --min-cov 2

[job.defaults]
job_type = local
pwatcher_type=blocking
submit = /bin/bash -c "${JOB_SCRIPT}" > "${JOB_STDOUT}" 2> "${JOB_STDERR}"
MB=32768
NPROC=6
njobs=10

[job.step.da]
NPROC=4
MB=32768
njobs=50
[job.step.la]
NPROC=4
MB=32768
njobs=50
[job.step.cns]
NPROC=8
MB=65536
njobs=25
[job.step.pda]
NPROC=4
MB=32768
njobs=50
[job.step.pla]
NPROC=4
MB=32768
njobs=50
[job.step.asm]
NPROC=200
MB=196608
njobs=1
